{% extends '@Forum/layout/layout.html.twig' %}

{% block title %}{{ forum.title }}{% endblock %}

{% block content %}
<ul data-role="listview" data-inset="true">
    {% for topic in topics %}
        <li><a href="{{ path('topic_show', {'id': topic.id} ) }}">{{ topic.title }}<span class="ui-li-count">{{ topic.countPosts }}</span></a></li>
    {% else %}
        <li>Пусто</li>
    {% endfor %}
</ul>
{% include 'ForumBundle:layout:paginate.html.twig' with {'data': topics} %}
<a class="ui-btn" href="{{ path('topic_new', {'id': forum.id}) }}">Создать топик</a>
{% endblock %}
