{% extends '@Forum/layout/layout.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="ui-grid-a ui-corner-all">

    <div class="ui-block-a"><div class="ui-bar ui-bar-a">Логин</div></div>
    <div class="ui-block-b"><div class="ui-bar ui-bar-a" id="profile_owner">{{ user.username }}</div></div>

    {% if app.user and is_granted('EDIT', user) %}
        {{ form_start(userEditForm) }}
            {# form_widget(userEditForm) #}
        {# form_end(userEditForm) #}
        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Пароль</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a">{{ form_row(userEditForm.plainPassword) }}</div></div>
    {% endif %}

    <div class="ui-block-a"><div class="ui-bar ui-bar-a">Дата регистрации</div></div>
    <div class="ui-block-b"><div class="ui-bar ui-bar-a">{{ user.createdAt|date }}</div></div>

    <div class="ui-block-a"><div class="ui-bar ui-bar-a">Открыто тем</div></div>
    <div class="ui-block-b"><div class="ui-bar ui-bar-a" id="count_user_topics">{{ countUserTopics }}</div></div>

    <div class="ui-block-a"><div class="ui-bar ui-bar-a">Написано сообщений</div></div>
    <div class="ui-block-b"><div class="ui-bar ui-bar-a" id="count_user_posts">{{ countUserPosts }}</div></div>

    {% if app.user and is_granted('EDIT', user)  %}
        {{ form_end(userEditForm) }}
    {% endif %}

</div>
{% endblock %}