{% extends '@Forum/layout/layout.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block content %}

    <div class="ui-grid-a">

        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Логин</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a" id="profile_owner">{{ user.username }}</div></div>

        {# TODO: мб сделать "user.sex|фильтр" #}
        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Пол</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a">
            <span id="sex">
                {%- if constant('SEX_MALE', user) == user.sex -%}
                    Мужской
                {%- elseif constant('SEX_FEMALE', user) == user.sex -%}
                    Женский
                {%- else -%}
                    Не указан
                {%- endif -%}
            </span>
        </div></div>

        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Дата регистрации</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a">{{ user.createdAt|date }}</div></div>

        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Открыто тем</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a" id="count_user_topics">{{ countUserTopics }}</div></div>

        <div class="ui-block-a"><div class="ui-bar ui-bar-a">Написано сообщений</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a" id="count_user_posts">{{ countUserPosts }}</div></div>

    </div>

    {% if app.user and is_granted('EDIT', user) %}
        <a class="ui-btn" href="{{ path('profile_edit', {'id': user.id}) }}">Редактировать профиль</a>
        <a class="ui-btn" href="{{ path('change_password', {'id': user.id}) }}">Сменить пароль</a>
    {% endif %}

{% endblock %}
