{% extends '@Forum/layout/layout.html.twig' %}

{% block title %}{{ forum.title }}{% endblock %}


{% block content %}
    {% block popup %}
        <div data-role="popup" id="delete_topics_popup" data-overlay-theme="b" data-theme="b" data-dismissible="false">
            <div data-role="header" data-theme="a">
                <h1>Удалить тему?</h1>
            </div>
            <div role="main" class="ui-content">
                <p>Вы уверенны что хотите удалить эту тему?</p>
                {{ form_start(topicDeleteForm) }}
                {{ form_widget(topicDeleteForm) }}
                {{ form_end(topicDeleteForm) }}
            </div>
        </div>

        <div data-role="popup" id="edit_topics_popup" data-overlay-theme="b" data-theme="b" data-dismissible="false">
            <div data-role="header" data-theme="a">
                <h1>Редактирование темы</h1>
            </div>
            <div role="main" class="ui-content">
                {{ form_start(topicEditForm) }}
                {{ form_widget(topicEditForm) }}
                {{ form_end(topicEditForm) }}
            </div>
        </div>
    {% endblock %}

    <ul data-role="listview" data-inset="true">
        {% for topic in topics %}
            <li>
                <a class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-carat-r" href="{{ path('topic_show', {'id': topic.id} ) }}">
                    <span id="topic{{ topic.id }}">{{ topic.title }}</span>
                    <span class="ui-li-count">{{ topic.countPosts }}</span>
                </a>
                {% if app.user and (is_granted('DELETE', topic) or is_granted('EDIT', topic)) %}
                    <div data-role="controlgroup" data-type="horizontal" data-mini="true">
                        {% if is_granted('EDIT', topic) %}
                            <a data-url="{{ path('topic_edit', {'id': topic.id}) }}" data-ref="topic{{ topic.id }}" href="#" class="topic_edit_button ui-btn ui-icon-edit ui-btn-icon-notext">Редактировать</a>
                        {% endif %}
                        {% if is_granted('DELETE', topic) %}
                            <a data-url="{{ path('topic_delete', {'id': topic.id}) }}" href="#" class="topic_delete_button ui-btn ui-icon-delete ui-btn-icon-notext">Удалить</a>
                        {% endif %}
                    </div>
                {% endif %}
            </li>
        {% else %}
            <li>Пусто</li>
        {% endfor %}
    </ul>
    {% include 'ForumBundle:layout:paginate.html.twig' with {'data': topics} %}

    {{ form_start(topicCreateForm) }}
        {{ form_widget(topicCreateForm) }}
    {{ form_end(topicCreateForm) }}
{% endblock %}
