{% extends '@Forum/layout/layout.html.twig' %}

{% block title %}{{ topic.forum.title }} / {{ topic.title }}{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('a#post_delete_button').click(function () {
                $('form#post_delete_form').attr({
                    action: $(this).attr('data-url')
                });
            });

            $('button#form_cancel').click(function () {
                $('div#confirm').popup('close');
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% block popup %}
        <div data-role="popup" id="confirm" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
            <div data-role="header" data-theme="a">
                <h1>Удалить?</h1>
            </div>
            <div role="main" class="ui-content">
                {{ form_start(postDeleteForm) }}
                    {{ form_widget(postDeleteForm) }}
                {{ form_end(postDeleteForm) }}
            </div>
        </div>
    {% endblock %}
    <ul data-role="listview" data-inset="true" data-split-icon="gear" data-split-theme="a">
        {% for post in posts %}
            <li data-role="list-divider">
                <p>{{ post.user.username }}: {{ post.createdAt|date }}</p>
                {% if app.user and (is_granted('DELETE', post) or is_granted('EDIT', post)) %}
                    <div data-role="controlgroup" data-type="horizontal" data-mini="true">
                        <a href="{{ path('post_edit', {'id': post.id}) }}" class="ui-btn ui-icon-edit ui-btn-icon-notext">Редактировать</a>
                        <a id="post_delete_button" data-url="{{ path('post_delete', {'id': post.id}) }}" href="#confirm" data-rel="popup" data-transition="slideup" class="ui-btn ui-icon-delete ui-btn-icon-notext">Удалить</a>
                    </div>
                {% endif %}
            </li>
            <li>{{ post.text }}</li>
        {% else %}
            <li>Пусто</li>
        {% endfor %}
    </ul>
    {% include 'ForumBundle:layout:paginate.html.twig' with {'data': posts} %}

    {{ form_start(postCreateForm) }}
        {{ form_widget(postCreateForm) }}
    {{ form_end(postCreateForm) }}

{% endblock %}