{% set title %}{% block title %}{{ forum_title }}{% endblock %}{% endset %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title == forum_title ? title : forum_title ~ ' - ' ~ title }}</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {# jquery #}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>

    {# jquery mobile #}
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script type="text/javascript" src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/forum/css/core.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/forum/js/core.js') }}"></script>

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
{% block body %}
    <div data-role="page" id="page">
        {% block page %}

            <div data-theme="b" data-role="header" data-position="fixed">
                {% block header %}
                    <h1>{{ title }}</h1>
                {% endblock %}
                {% if app.user %}
                    <a href="{{ path('profile_show', {'id': app.user.id}) }}" class="ui-btn ui-btn-right ui-corner-all ui-shadow ui-btn-inline ui-icon-user ui-btn-icon-left ui-btn-a">{{ app.user.username }}</a>
                {% else %}
                    <a href="#popupAuthorization" data-rel="popup" data-position-to="window" class="ui-btn ui-btn-right ui-corner-all ui-shadow ui-btn-inline ui-icon-check ui-btn-icon-left ui-btn-a" data-transition="pop">Авторизация</a>
                {% endif %}
            </div><!-- /header -->

            <div role="main" class="ui-content center-container">
                {% block logo %}<div class="forum-logo"><a href="{{ path('index') }}"><img src="{{ asset('bundles/forum/images/georg_lent_200.png') }}" alt=""/></a></div>{% endblock %}
                {% block breadcrumbs %}{% endblock %}
                {% block messages %}{% endblock %}
                <fieldset>
                    {% block content %}{% endblock %}
                </fieldset>
            </div><!-- /content -->

            <div data-theme="b" data-role="footer" data-position="fixed">
                {% block footer %}
                    <h4>Page Footer</h4>
                {% endblock %}
            </div><!-- /footer -->

            <div data-role="popup" id="popupAuthorization" data-theme="a" class="ui-corner-all">
                <form action="{{ path('login_check') }}" method="post">
                    <div style="text-align: center; padding:10px 20px;">
                        <h3>Авторизация</h3>
                        <input type="text" id="username" name="_username" placeholder="Пользователь" data-theme="a">
                        <input type="password" id="password" name="_password" placeholder="Пароль" data-theme="a">
                        <button id="login_btn" type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Готово</button>
                    </div>
                </form>
            </div><!-- /popupAuthorization -->
        {% endblock %}
    </div><!-- /page -->

{% endblock %}
</body>
</html>