{% set title %}{% block title %}{{ forum_title }}{% endblock %}{% endset %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title == forum_title ? title : forum_title ~ ' - ' ~ title }}</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {# jquery #}
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

    {# jquery mobile #}
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/forum/css/core.css') }}" />
    <script src="{{ asset('bundles/forum/js/core.js') }}"></script>

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
{% block body %}
    <div data-role="page" id="{{ app.request.attributes.get('_route') }}">
        {% block page %}

            <div data-theme="b" data-role="header" data-position="fixed">
                {% block header %}
                    <h1 class="header_title">{{ title }}</h1>
                {% endblock %}

                <a href="{{ path('index') }}" class="ui-corner-all ui-shadow ui-btn ui-btn-right ui-icon-home ui-btn-icon-notext">Главная страница</a>
                <a href="#panel" class="ui-corner-all ui-shadow ui-btn ui-btn-left ui-icon-user ui-btn-icon-notext">Панель</a>
            </div><!-- /header -->

            <div role="main" class="ui-content center-container">
                {% block logo %}<div class="forum-logo"><a href="{{ path('index') }}"><img src="{{ asset('bundles/forum/images/georg_lent_200.png') }}" alt=""/></a></div>{% endblock %}
                {% block breadcrumbs %}{% endblock %}
                {% block messages %}{% endblock %}
                <fieldset>
                    {% block content %}{% endblock %}
                </fieldset>
            </div><!-- /content -->

            <div class="ui-footer" data-theme="b" data-role="footer" data-position="fixed">
                {% block footer %}
                    <div data-role="navbar">
                        <ul>
                            {#<li>#}
                            {#{% if 'index' == app.request.attributes.get('_route') %}#}
                                {#<a data-icon="home" href="{{ path('index') }}">Главная</a>#}
                            {#{% else %}#}
                                {#<a data-icon="arrow-l" href="#back" title="Не работает ;(">Назад</a>#}
                            {#{% endif %}#}
                            {#</li>#}
                            <li><a data-icon="eye"  href="{{ path('index') }}#Online">Онлайн: ~</a></li>
                            <li><a data-icon="user" href="{{ path('profile_list', {'page': 1}) }}">Пользователи</a></li>
                            <li><a data-icon="tag"  href="{{ path('index') }}#Uploads">Вложения</a></li>
                        </ul>
                    </div>
                    <h1 class="footer_title">&copy; &circledR; {{ forum_title }} (2016)</h1>
                {% endblock %}
            </div><!-- /footer -->

            <div id="panel" data-role="panel" data-display="overlay" data-position="left">
                <div class="ui-panel-inner">
                    <ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-role="listview" data-inset="true" data-divider-theme="b">
                        <li  data-role="list-divider" class="ui-li-divider ui-bar-b ui-first-child">Панель</li>
                        {% if app.user %}
                            <li><a class="ui-btn ui-btn-icon-left ui-icon-gear" href="{{ path('profile_show', {'id': app.user.id}) }}">Профиль</a></li>
                            <li><a class="ui-btn ui-btn-icon-left ui-icon-power" href="{{ path('logout') }}">Выйти</a></li>
                        {% else %}
                            <li><a class="ui-btn ui-btn-icon-left ui-icon-lock" href="{{ path('login_route') }}">Авторизация</a></li>
                            <li><a class="ui-btn ui-btn-icon-left ui-icon-plus" href="{{ path('profile_new') }}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div><!-- /panel -->

        {% endblock %}
    </div><!-- /page -->

{% endblock %}
</body>
</html>