{% extends '@Forum/layout/layout.html.twig' %}

{% block title %}Форум{% endblock %}

{% block content %}
<ul data-role="listview" data-inset="true" data-theme="b" data-divider-theme="a" data-count-theme="a">
    <li data-role="list-divider">{{ title }}</li>
    {% for forum in forums %}
        <li><a href="#{{ forum.id }}">{{ forum.title }}<span class="ui-li-count">{{ forum.countTopics }} / {{ forum.countPosts }}</span></a></li>
    {% else %}
        <li>Пусто</li>
    {% endfor %}
</ul>
{% endblock %}
