{% extends '@ForumBundle/Resources/views/layout.html.twig' %}

{% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="/style.css"/>
{% endblock %}

{% block head %}
    {{ block('meta') }}
    <title>{{ pageTitle|default('Page title')|title }}</title>
    {{ block('link') }}
    {# block('style') #}
    {# block('javascriptOnHead') #}
{% endblock %}

{% block body %}
    <div id="body" class="page_layer">
        <div id="body" class="page">
            {% block page %}
                <div id="page" class="header_layer">
                    <div id="page" class="header">
                        {{ block('header') }}
                    </div>
                </div>
                <div id="page" class="page_contents_layer">
                    <div id="page" class="page_contents">
                        {{ block('page_contents') }}
                    </div>
                </div>
                <div id="page" class="footer_layer">
                    <div id="page" class="footer">
                        {{ block('footer') }}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{# block('javascriptOnBody') #}
{% endblock %}