{% set title %}{% block title %}{{ forum_title }}{% endblock %}{% endset %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{ title == forum_title ? title : forum_title ~ ' - ' ~ title }}</title>

        <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />

        <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

        <script type="text/javascript" src="{{ asset('bundles/forum/js/core.js') }}"></script>

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div data-role="page" id="page">
                {% block page %}

                <div data-theme="b" data-role="header" data-position="fixed">
                    {% block header %}
                        <h1>{{ title }}</h1>
                    {% endblock %}
                </div><!-- /header -->

                <div role="main" class="ui-content">
                    {% block content %}
                        <p></p>
                    {% endblock %}
                </div><!-- /content -->

                <div data-theme="b" data-role="footer" data-position="fixed">
                    {% block footer %}
                        <h4>Page Footer</h4>
                    {% endblock %}
                </div><!-- /footer -->

                {% endblock %}
            </div><!-- /page -->

        {% endblock %}
    </body>
</html>